{% extends 'app001/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div>
    <h4>{{ author.name }} {{ author.surname }}</h4>
    <h3>Article: {{ article.title }}</h3>

    {{ article.content }}
    <ul>Commentaries:
        {% for comment in commentaries %}
        <li>{{ comment.author.name }}
            {{ comment.author.surname }}:
            {{ comment.content }}
        </li>
        {% endfor %}
    </ul>
</div>
<div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_div }}
        <input type="submit" value="{{ button }}">
    </form>
</div>
<footer>
    <a href="">Main</a>&nbsp;&nbsp;&nbsp;
    <a href="about/">About</a>
</footer>
{% endblock %}
